h1{background-color: salmon;}
h3{background-color: salmon;}
h2 style="color: red; border: 3px solid black;}
p {font-style: 'strong'}
body {background-image: url('bekgron.jpg');}
img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	display:block;
	margin: auto;
}